h1 {
    padding-left: 1em;
    text-shadow: 5px 5px 5px rgb(243, 222, 176);
}

body {
    min-width: 300px;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: .90em;
}

a:link, a:visited {
    color: rgb(170, 0, 0);
    font-weight: 500;
}

a:hover, a:active {
    text-decoration: none;
    color: darksalmon;
}

.video {
    max-width: 100%;
}

.bg {
    background-image: url(flight.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

#bolded {
    text-align: center;
    font-weight: bold;
}

#vert-hr {
    border-left: .01rem solid rgb(165, 165, 165);
}

@media only screen and (max-width: 575px){
    #vert-hr {
        border-left: 0px;
    }
}