<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- BOOTSTRAP TAGS -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">
  <link rel="manifest" href="./images/favicons/site.webmanifest">
  <link rel="mask-icon" href="./images/favicons/safari-pinned-tab.svg" color="#2f2f2f">
  <link rel="shortcut icon" href="./images/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="./images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#2f2f2f">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="dakotagravitt.css">

  <title>Dakota - Time Converter</title>
</head>

<body>
  <!-- HEADER -->
  <header class="bg">
    <br>
    <h1>About Me</h1>
    <br>
  </header>

  <!-- NAV -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="index.html"><img src="./images/Me & Capitol Building.jpg" title="All images by Dakota Gravitt"
        class="rounded-circle navbar-brand" width="50em" height="auto"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Apps</a>
          <div class="dropdown-menu">
            <a class="dropdown-item active" href="#">Time Converter<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="todo.html">Todo List</a>
            <a class="dropdown-item" href="./components/test/qunit.html">QUnit Tests</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- MAIN -->
  <main>
    <br>
    <article id="seconds-converter" class="container-fluid">
      <section>
        <h3>Seconds Time Converter</h3>
        <p>Here you can convert any number of seconds into minutes, hours, days, and years!</p>
        <fieldset>
          <label for="seconds"><i>Number of seconds</i></label>
          <input v-model="seconds" id="seconds" type="number" min="0">
          <span id="firstWarning" class="text-danger"></span>
        </fieldset>
      </section>

      <section>
        <p>{{result}}</p>
      </section>
    </article>
  </main>
  <hr>

  <footer class="center">
    <p>Dakota Gravitt &copy;2019</p>
  </footer>
</body>
<!-- VUE CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

<script src="./components/time-convert/time-convert.js"></script>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- POPPER -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- BOOTSTRAP -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>